<!-- HERO SECTION COMPONENT -->

<section class="hero" id="home">
    <div class="hero-content-container">
        <div class="hero-content">
            <h1>Lokesh</h1>
            
            <!-- SCROLLING TEXT ANIMATION -->
            <div class="scroll-container">
                <div class="scroll-text">
                    <span>Next.js ✦ Full stack ✦ UI/UX ✦ React ✦ Web3 ✦ NFT ✦ BlockChain  </span>
                    
                </div>
            </div>
            
            <p>He crafts responsive websites where technologies meet creativity</p>
            <div class="hero-buttons">
                <button class="btn" onclick="navigateToPage('contacts')">Contact me!!</button>
                <a href="src/assets/Lokesh -CSE.pdf" target="_blank" rel="noopener noreferrer" class="btn">Resume</a>
            </div>
            <div class="quote">
                <blockquote>
                   “Don’t be afraid to give up the good to go for the great.”
                </blockquote>
                <cite> – John D. Rockefeller</cite>
            </div>
        </div>
    </div>
    
    <div class="status">Currently working on my 3d <strong>Portfolio</strong></div>
</section>
