<!-- HERO SECTION COMPONENT -->

<section class="hero" id="home">
    <div class="hero-content-container">
        <div class="hero-content">
            <h1>𝑳𝒐𝒌𝒆𝒔𝒉</h1>
            <!-- SCROLLING TEXT ANIMATION -->
            <div class="scroll-container">
                <div class="scroll-wrapper">
                    <div class="scroll-text">
                        <span>✦ Next.js</span> <span>✦ Full stack</span> <span>✦ UI/UX</span> <span>✦ React</span> <span>✦ Web3</span> <span>✦ NFT</span> <span>✦ BlockChain</span>
                    </div>
                    <div class="scroll-text" aria-hidden="true">
                        <span>✦ Next.js</span> <span>✦ Full stack</span> <span>✦ UI/UX</span> <span>✦ React</span> <span>✦ Web3</span> <span>✦ NFT</span> <span>✦ BlockChain</span>
                    </div>
                </div>
            </div>
            
            <p>𝖶𝗋𝗂𝗍𝗂𝗇𝗀 𝖻𝗎𝗀𝗌 𝗉𝗋𝗈𝖿𝖾𝗌𝗌𝗂𝗈𝗇𝖺𝗅𝗅𝗒 — 𝖺𝗇𝖽 𝖿𝗂𝗑𝗂𝗇𝗀 𝗍𝗁𝖾𝗆 𝗋𝖾𝗌𝗉𝗈𝗇𝗌𝗂𝖻𝗅𝗒.</p>
            <div class="hero-buttons">
                <button class="btn" onclick="navigateToPage('contacts')">Contact me!!</button>
                <a href="src/assets/Lokesh -CSE.pdf" target="_blank" rel="noopener noreferrer" class="btn">Resume</a>
            </div>
            <div class="quote">
                <blockquote>
                   "Don't be afraid to give up the good to go for the great."
                </blockquote>
                <cite> – John D. Rockefeller</cite>
            </div> 
        </div>
    </div>
    
    <!-- 3D MODEL CONTAINER -->
    <div class="hero-3d-model">
        <canvas id="hero-canvas"></canvas>
        <div class="status">Currently working on my 3d <strong>Portfolio</strong></div>
    </div>
</section>
