
<div class="section-header" id="works">
    <h2 class="section-title"></h2>
    <a href="#" class="view-all">View all →  </a>
</div>

<div class="projects-grid">
    <div class="project-card">
        <div class="project-image">
            <img src="src\assets\Screenshot 2025-04-30 165055.png" alt="Bid-Ion">
        </div>
        <div class="project-tags">Next js Nft soldity Groq-Ai Ether js</div>
        <div class="project-info">
            <h3>Bid-Ion</h3>
            <p>Web3 IPL Auction Gaming Platform</p>
            <div class="project-buttons">
                <a href="https://github.com/Naveen-807/Hackhazard.git" target="_blank" rel="noopener noreferrer" class="project-btn"> Github&lt;~&gt;</a>
                <a href="https://youtu.be/TOCChO-Mi34?si=SIOSe0Ufkt369gh-" target="_blank" rel="noopener noreferrer" class="project-btn">Demo &gt;</a>
            </div>
        </div>
    </div>

    <div class="project-card">
        <div class="project-image">
            <img src="src\assets\Screenshot 2026-02-07 000017.png" alt="Cineflicks">
        </div>
        <div class="project-tags">Flutter Google Map Geolocation Api,Mongodb</div>
        <div class="project-info">
            <h3>Cashino</h3>
            <p>Social networking app for cine technicians and search location based</p>
            <div class="project-buttons">
                <a href="https://github.com/LOKESH2622/cine-flicks.git" target="_blank" rel="noopener noreferrer" class="project-btn">Github&lt;~&gt;</a>
            </div>
        </div>
    </div>

    <div class="project-card">
        <div class="project-image" style="background: #6c3fb5;">
            <img src="src\assets\CASHINO.png" alt="cashino">
        </div>
        <div class="project-tags">Flutter,Flask</div>
        <div class="project-info">
            <h3>CASHINO</h3>
            <p>Designed to help users manage their finances effectively,track expense and record income</p>
            <div class="project-buttons">
                <a href="https://github.com/sairammr/Cash-ino--Cash-Management-App.git" target="_blank" rel="noopener noreferrer" class="project-btn">Github &lt;~&gt;</a>
            </div>
        </div>
    </div>
</div>
